:root {
    /* Color 변수로 지정 */
    --white-color:#fff;
    --black-color:#140a00;
    --purple-color: #9966ff;

    /* Font Size 변수로 지정 */
    --font-large: 18px;
    --font-medium: 14px;
    --font-small: 12px;
    --font-micro: 10px;
}

.wrapper {
    max-width: 1060px;
    margin: 0 auto;
    transform: scale(1, 1);
}
#header-msg {
    border-bottom: 1px solid var(--purple-color);
}
body {
    font-family: Roboto;
    width: 1060px;
    max-width: 1060px;
    margin: 0px auto;
}

.left-menu {
    width: 250px;
    float: left;
}

.left-menu-ul {
    background-color: var(--white-color);
    border-right: 1px solid var(--black-color);
    position: fixed;
    height: 100%;
    width: 250px;
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none;
}

#top-message {
	font-size: 23px;
	border-bottom: 2px solid var(--black-color);
	margin: 4px;
}

.left-menu-ul .menu-list {
    font-size: 26px;
    padding-right: 10px;
}

.left-menu-ul .menu-list a {
    display: block;
    font-size: var(--font-large);
    font-weight: bold;
    color: var(--black-color);
    text-decoration: none;
    padding: 20px;
    text-align: center;
}

.left-menu-ul .menu-list a:hover {
    background-color: var(--purple-color);
    color: var(--white-color);
}

.msg-top{
	padding-top: 5px;
	padding-left: 250px;
	font-size: 20px;
}
.option-box{
	margin-left: 30px;
}
.msg-search{
	
}
.msg-search-btn{
	
}
.msg-top:after{
	border-bottom: 2px solid black;
	content: "";
	display: block;
	margin: 10px 0px 0px 0px;
}
.msg-del{
	padding-top: 5px;
	padding-left: 250px;
}
.del-btn{
	margin-top: 7px;
	margin-left: 20px;
	width: 40px;
	height: 25px;
	background-color: white;
	color: black;
	border: 1px solid #dcdcdc;
}
.msg-del:after{
	border-bottom: 2px solid black;
	content: "";
	display: block;
	margin: 10px 0px 0px 0px;
}
.msg-table-main{
	padding-left: 250px;
	width: 1060px;
	border-top-width: 0;
	border-spacing: 0;
	border-color: white;
}
.msg-table-head{
	height: 60px;
	border-color: gray;
}
.msg-table-body{
	border-color: white;
	border-spacing: 1px;
	height: 40px;
}
.msg-comment{
	font-size: 10px;
}
.msg-page{
	padding-left: 250px;
	text-align: center;
	display: inline;
}
.msg-page-ul{
	padding-left: 250px;
	text-align: center;
}
.page-item{
	text-align: center;
	display: inline;
}