@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

body {
	width: 1060px;
	margin: 0px auto;
}

/* 1번배너 */
.slideshow-container {
    max-width: 1000px;
    max-height: 300px;
    position: relative;
    margin: auto;
}

.slideshow-container .mySlides img {
    width: 1000px;
    height: 300px;
}

.mySlides {
    display: none;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6 ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
      .fade {
          -webkit-animation-name: fade;
          -webkit-animation-duration: 1.5s;
          animation-name: fade;
          animation-duration: 1.5s;
      }

.table-hover thead tr:hover th, .table-hover tbody tr:hover td {
	background-color: #9966ff;
	color: white;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
/* 1번배너 */

#table_div {
	margin: 100px 30px 0px 30px;
}

.map_btn {
	float: left;
	width: 70px;
	height: 30px;
	border: none;
	margin: 2px;
}

#6799FF

#weather_table h3 {
	text-align: left;
}

#weather_table .weather {
	width: 300px;
	height: 200px;
}

#weather_table .map {
	width: 690px;
	height: 200px;
}
