<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지</title>
    <style>
        .cls1 {
            border: solid 1px red;
        }
        .cls2 {
            border: solid 1px black;
        }
        .cls3 {
            border: solid 1px purple;
        }

    </style>
</head>
<body>
    <p class="cls1">마이페이지</p>
    <hr/>
    <div class="cls2">
        <br/><br/>
        <table>
            <tr>
                <td>닉네임: </td>
                <td>사과조아</td>
            </tr>
            <tr>
                <td>이름: </td>
                <td>이희중</td>
            </tr>
            <tr>
                <td>이메일: </td>
                <td>apple@gmail.com</td>
            </tr>
        </table>
        <div>
            <img alt="프로필 이미지" src="apple.jfif"/>
        </div>
    </div>
    <div class="cls3">
        <div>
            <a href="#">내 정보 수정</a>
            <a href="#">회원 탈퇴</a>
        </div>
    </div>
    <br/><br/>
    <hr/>
</body>
</html>