@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
}

body {
    max-width: 1060px;
    width: 1060px;
    margin: 0 auto;
}

header {
    font-size: 25px;
    font-weight: 500;
    padding: 15px;
    border-bottom: solid 2px black;
}
section {
    width: 80%;
    margin: auto;
    margin-top: 40px;
}
#main_table2 {
    margin-top: 2%;
    border-collapse: collapse;
    border: 2px solid #9966FF;
    text-align: center;
}
#main_table2 tr {
    border: solid #9966FF;
    height: 100px;
}
#main_table2 td {
    padding: 10px 0;
}
#main_table2 input {
    width: 240px;
    margin-left: 20px;
    background-color: #faf5f5;
    border: solid 1px lightgray;
    height: 30px;
    font-size: 1.2em;
}
.table2_td1 {
    text-align: center;
    width: 28%;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
    border-right: solid 2px #9966FF;
    background-color: #c0ace8;
    color:white;
}
.table2_td2 {
    text-align: center;
    width: 3%;
    border-right: hidden;
}
.table2_td3 {
    width: 10%;
    border-right: hidden;
    border-left: hidden;
    font-size: 13.5px;
}
.table2_td4 {
    border-radius: 5px;
    font-size: 12.8px;
    font-style: italic;
}
#table2_nameinput {
    border-radius: 5px;
    font-size: 12.8px;
    font-style: italic;
}
.t2_btn {
    background-color: #9966FF;
    color: white;
    border: #9966FF;
    font-size: 13px;
    padding: 9px;
    margin-left: 5%
}
#submit_btn {
    margin-right: 30px;
    padding: 10px;
}
#email_tr {
    text-align: center;
}
#table2_mtd1 {
    border-right: hidden;
}
#table2_mtd2 {
    width: 20%;
    border-right: hidden;
    padding-right: 30px;
    padding-top: 20px;
}
#table2_mtd3 {
    width: 10%;
    border-right: hidden;
    padding-right: 30px;
    padding-top: 20px;
    margin-right: 30px;
}
#table2_mtd4 {
    width: 20%;
    margin-right: 30px;
}
#mailinput2 {
    text-align: center;
    margin: 10px 20px;
}
#mailinput2::placeholder {
    color: lightgray;
    font-size:13.5px;
}
#email_option {
    width: 140px;
    height: 2em;
}
.hiddendiv_email {
    color: limegreen;
    padding-top: 5px;
    padding-left: 20px;
    text-align: center;
    font-size: 10px;
}
.hiddendiv_email_sub {
    font-size: 10px;
}
#hiddenspan_pass2 {
    text-align: center;
}
#last_tr {
    text-align: right;
}
#last_tr td {
    border-right: hidden;
    border-left: hidden;
    border-bottom: hidden;
}