*{
    padding: 0;
    margin: 0;
}

body {
    max-width: 1060px;
    width: 1060px;
    margin: 0 auto;
}

.title_text {
    display: flex;
    justify-content: center;
    padding: 24px 0 8px 0;
    font-size: 30px;
}

.title_heart {
    display: flex;
    justify-content: flex-end;
    padding: 8px 16px;
    border-bottom: solid 2px black;
    
}
.detaile_info {
    font-size: 25px;
    padding: 15px;
    border-bottom: solid 2px black;
}
.detail_text {
    padding-top: 33px;
    padding-bottom: 33px;
}
.detail_text p {
    font-size: 18px;
    line-height: 1.7;
    letter-spacing: -1px
}
.another_info {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.another_info ul {
    list-style: none;
}
.another_info ul li {
    float: left;
    width: 50%;
    padding: 0 0 9px 0;
}
.another_info ul li strong {
    float: none;
    display: table-cell;
    width: 128px;
    padding: 0 0 0 12px;
    font-weight: 700;
}
.another_info ul li span {
    float: none;
    display: table-cell;
    line-height: 1.4
}
.img_container {
    display: flex;
    width: 1060px;
}
.img_big {
    display: flex;
    align-items: center;
    width: 70%;

}
.img_small {
    margin: 20px 0px;
    width: 30%;
}
.img_big img, .img_small img {
    max-width: 100%;
}

.map {
    display: flex;
    justify-content: center;
}